html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF8EF;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --tx: 100px;
  --ty: 100px;
}

@keyframes move {
  from {
    transform: translate(var(--tx), var(--ty));
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes drop {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}